Repository jenkinsci/warnings-ng-plugin, pull requests merged in 2020-06, with the labels that each got.

#507 Add UI tests for freestyle configuration and snippet generator
  plugin/src/test/java/io/jenkins/plugins/analysis/warnings/recorder/RecorderConfigurationITest.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/IssuesRecorder.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/SnippetGenerator.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/FreeStyleConfigurationUITest.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/SnippetGeneratorUiTest.java
Labels: tests

#514 [JENKINS-61764] Enable clicks on doughnut charts to open details for selection
  plugin/SUPPORTED-FORMATS.md
  plugin/pom.xml
  plugin/src/main/resources/io/jenkins/plugins/analysis/core/model/IssuesDetail/filled.jelly
Labels: bug

#518 Fix title of origin breadcrumb
  plugin/src/main/java/io/jenkins/plugins/analysis/core/model/DetailFactory.java
  plugin/src/test/java/io/jenkins/plugins/analysis/core/model/DetailFactoryTest.java
Labels: enhancement

#497 JENKINS-62187: Add UI test for Details Tab
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/AbstractDetailsTable.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/AnalysisResult.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/DefaultIssuesTableRow.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/DryIssuesTableRow.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/IssuesDetailsTable.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/IssuesTableRow.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/PropertyDetailsTable.java
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/StaticAnalysisIssuesPerToolAndJobPortlet.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/DetailsTabUiTest.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/GlobalConfigurationUiTest.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/UiTest.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/WarningsPluginUiTest.java
  ui-tests/src/test/resources/cpd1Warning.xml
  ui-tests/src/test/resources/details_tab_test/cpd1Warning.xml
  ui-tests/src/test/resources/details_tab_test/findbugs-severities.xml
  ui-tests/src/test/resources/details_tab_test/java1Warning.txt
  ui-tests/src/test/resources/details_tab_test/java2Warnings.txt
Labels: tests

#517 Update SpotBugs messages
  plugin/src/main/resources/io/jenkins/plugins/analysis/warnings/findbugs-messages/fb-contrib-messages.xml
  plugin/src/main/resources/io/jenkins/plugins/analysis/warnings/findbugs-messages/find-sec-bugs-messages.xml
  plugin/src/main/resources/io/jenkins/plugins/analysis/warnings/findbugs-messages/messages.xml
  plugin/src/main/resources/io/jenkins/plugins/analysis/warnings/findbugs-messages/messages_fr.xml
  plugin/src/main/resources/io/jenkins/plugins/analysis/warnings/findbugs-messages/messages_ja.xml
  plugin/src/test/java/io/jenkins/plugins/analysis/warnings/FindBugsMessagesTest.java
  plugin/src/test/java/io/jenkins/plugins/analysis/warnings/ParsersITest.java
Labels: enhancement

#515 [JENKINS-62625] Encapsulate JS methods
  plugin/pom.xml
  plugin/src/main/java/io/jenkins/plugins/analysis/core/portlets/IssuesChartPortlet.java
  plugin/src/main/resources/io/jenkins/plugins/analysis/core/portlets/IssuesChartPortlet/portlet.jelly
  plugin/src/main/webapp/js/issues-detail.js
Labels: bug

#534 Extend Smoke Tests with dashboard view assertions
  plugin/pom.xml
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/SmokeTests.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/UiTest.java
Labels: tests

#536 Add IssuesColumn assertions to SmokeTests
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/SmokeTests.java
Labels: tests

#537 Add details tab UI assertions to SmokeTests
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/SmokeTests.java
Labels: tests

#538 Feature/global config smoke
  ui-tests/src/main/java/io/jenkins/plugins/analysis/warnings/AnalysisSummary.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/GlobalConfigurationUiTest.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/SmokeTests.java
  ui-tests/src/test/java/io/jenkins/plugins/analysis/warnings/UiTest.java
  ui-tests/src/test/resources/build_status_test/build_01/pep8Test.txt
  ui-tests/src/test/resources/build_status_test/build_02/pep8Test.txt
Labels: tests
