Repository jenkinsci/warnings-ng-plugin, pull requests merged in 2020-08, with the labels that each got.

#574 Bump version of checks-api to 0.2.2
  plugin/pom.xml
  plugin/src/main/java/io/jenkins/plugins/analysis/core/steps/IssuesRecorder.java
  plugin/src/main/java/io/jenkins/plugins/analysis/core/steps/PublishIssuesStep.java
  plugin/src/main/java/io/jenkins/plugins/analysis/core/steps/WarningChecksPublisher.java
  plugin/src/test/java/io/jenkins/plugins/analysis/core/steps/WarningChecksPublisherITest.java
Labels: dependencies

#586 Add missing curly bracket to Documentation
  doc/Documentation.md
Labels: documentation

#593 Fix absolute path to results
  plugin/src/main/java/io/jenkins/plugins/analysis/core/model/AggregationAction.java
  plugin/src/main/java/io/jenkins/plugins/analysis/core/model/ResultAction.java
  plugin/src/test/java/io/jenkins/plugins/analysis/core/model/AggregationActionTest.java
Labels: bug

#603 Fix links to parser examples due to moved test resources
  .github/workflows/check-md-links.yml
  doc/Architecture-Rules.md
  doc/Documentation.md
Labels: documentation
